---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";

const courses = [
{
  name: "Legislación ambiental",
  tutor: "Ingrid Lozano",
  description: "Explora las leyes y regulaciones ambientales que impactan la sostenibilidad y la ingeniería ambiental."
},
{
  name: "Ecología",
  tutor: "Rousi Alarcón",
  description: "Sumérgete en el estudio de las interacciones entre los organismos y su entorno, clave para comprender la ecología ambiental."
},
{
  name: "Calidad de suelos",
  tutor: "Claudia Díaz",
  description: "Analiza la composición y salud de los suelos, fundamental para la gestión sostenible de recursos naturales y la prevención de la contaminación."
},
{
  name: "Calidad de agua",
  tutor: "Jorgelina Pasqualino",
  description: "Enfócate en la evaluación y mantenimiento de la pureza del agua, un aspecto crucial para la sostenibilidad y la salud humana."
},
{
  name: "Soils Treatment",
  tutor: "Claudia Díaz",
  description: "Descubre métodos avanzados para el tratamiento de suelos, contribuyendo a la rehabilitación de áreas afectadas por contaminantes."
},
{
  name: "Tratamiento de aguas",
  tutor: "Jorgelina Pasqualino",
  description: "Aprende técnicas esenciales para purificar y gestionar eficientemente los recursos hídricos, esenciales para la preservación del medio ambiente."
},
{
  name: "Tratamiento de aguas avanzado",
  tutor: "Jorgelina Pasqualino",
  description: "Profundiza en estrategias avanzadas para el tratamiento de aguas, abordando desafíos más complejos en la gestión sostenible del recurso."
},
{
  name: "ArcGIS Pro",
  tutor: "David Silgado",
  description: "Domina el uso de ArcGIS Pro para analizar y visualizar datos espaciales, una herramienta valiosa en la planificación y gestión ambiental."
},
{
  name: "Ilustración a mano",
  tutor: "Contoso",
  description: "Desarrolla habilidades creativas a través de la ilustración a mano, explorando la conexión entre el arte y la expresión del medio ambiente."
},
{
  name: "Gestión del tiempo",
  tutor: "-",
  description: "Adquiere habilidades efectivas de gestión del tiempo, clave para equilibrar tus responsabilidades profesionales y personales en el ámbito ambiental."
},
{
  name: "Vestores",
  tutor: "-",
  description: "Comprende el papel fundamental de los vectores en la ingeniería ambiental, aplicando conceptos clave para la optimización de procesos y recursos."
},
{
  name: "Illustrator",
  tutor: "-",
  description: "Explora las capacidades de Illustrator para crear gráficos impactantes, integrando la creatividad en la comunicación visual de proyectos ambientales."
}
]
---
<BaseLayout pageTitle="cursos">
  <Section 
    sectionTitle="Cursos"
    fullWidth=true
    classes="sm:p-8 md:px-16 lg:p-32"
    >
    <ul class="flex flex-col gap-4 list-none">
      {
        courses.map((course) =>
          <li>
            <a
              href="#" 
              class="
                h-40 flex items-center px-8 gap-4 rounded-3xl border-2 border-solid border-indigo-950 hover:bg-indigo-950 text-white transition-200 ">
              <img 
                src="/icons/share.svg"
                alt="course image"
                class="h-8 w-8 box-content p-2 rounded-full bg-indigo-900"
                >
              <div>
                <h3 class="text-xl">{course.name}</h3>
                <p class="text-lg text-gray-300 mb-2">{course.description}</p>
                <p class="text-sm text-gray-500">Profesor: {course.tutor}</p>
              </div>
            </a>
          </li>
        )
      }
    </ul>
  </Section>
</BaseLayout>