---
import BaseLayout from "../../layouts/BaseLayout.astro"
---
<BaseLayout pageTitle="Ecosystems - Arrecife">
  <a href="/ecosystems/bb2" class="text-3xl font-monoDisplay-normal">Entrar al BB2</a>
</BaseLayout>