---
import BaseLayout from "../layouts/BaseLayout.astro"
import Section from "../components/Section.astro";
import Cards from "../components/Cards.astro";
import NewFeature from "../components/NewFeature.astro"
import { fetchApodData } from "../scripts/fetch.js"	

const pageTitle = "Arrecife"
const apodData = await fetchApodData()
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="
		text-4xl sm:text-7xl text-center 
		font-splineSans-bold font-bold
		my-10
		">
			Herramientas a<br>
			un clic <span class="text-purple-300">(o varios)</span>
  </h1>
	<div>
		<Section sectionTitle="Explora nuestras categorías" mx="mr-0">
			<Cards />
		</Section>
		<NewFeature />
		<Section sectionTitle="La foto del día">
			<div>
				<a href={apodData.hdurl} target="_blank">
					<img src={apodData.url} alt="Mírate! Tú eres la foto del día" class="
						w-full sm:h-screen object-cover
						rounded-[38px] shadow-lg shadow-indigo-950
					">
					<a
						lang="en" 
						href="./space/picture-of-the-day/" 
						class=" hidden sm:inline-block w-96 truncate relative
						bottom-16 text-gray-300 text-sm font-splineSans-regular py-2 px-4 z-50 rounded-lg bg-cold-500/50 hover:bg-cold-500/80 ml-6 overflow-hidden duration-200" 
						>
						<span>
							{apodData.explanation ? apodData.explanation : "Click to see more"}
						</span>
					</a>
				</a>
				<div class="flex justify-end relative top-4 sm:top-0 mr-6">
					<a 
						lang="en" 
						href="./space/picture-of-the-day/" 
						class="text-lg underline hover:text-cold-300 duration-200"
						>
							{apodData.title}
					</a>
				</div>
			</div>
		</Section>
	</div>
</BaseLayout>
../scripts/fetch.js