---
const {href, text, download} = Astro.props
---
<a 
  href={download ? "#" : href}
  download={download && href}
  class="text-gray-300 text-sm p-2 rounded-lg font-splineSans-regular font-normal bg-cold-700 hover:bg-cold-500 transition-all duration-200"
  >
  {text}
</a>