<section class="
  bg-gradient-to-b from-cold-800 via-cold-600 to-cold-600
  w-full h-[700px]
  pt-32
">
  <h2 class="
    text-center text-4xl
    font-monoDisplay-normal font-normal
    mb-16
  ">BB2</h2>
  <div class="
    text-center
    p-4
    mx-16
    border-4 border-cold-400
  ">
    <p>Con el Buscador de Biodiversidad encuentras especies cerca de ti, avistamientos y más información super detallata</p>
  </div>
</section>