---
const {sectionTitle} = Astro.props
---
<section class="flex flex-col my-16 pr-0 sm:px-8 px-4">
  <h2 class="text-3xl font-splineSans-bold font-bold mb-14 pl-4">{sectionTitle}</h2>
  <slot />
</section>